* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-primary: #7aced3;
  --color-secondary: #7ed7d7;
  --font-size-h2: 2.2rem;
  --font-size-p: 1.4rem;
}

body {
  background-color: var(--color-primary);
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}
