.academic__education {
  background-color: var(--color-secondary);
  padding: 1.6rem;
}

.academic__education h2 {
  font-size: var(--font-size-h2);
  padding-bottom: 3.2rem;
  text-align: center;
}

.academic__education--school {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.academic__education--school > figure {
  align-items: center;
  background-color: rgb(193, 226, 236);
  display: flex;
  flex-direction: column;
  height: 11.8rem;
  justify-content: center;
  margin-bottom: 1.6rem;
  width: 29.6rem;
}

.academic__education--school > figure > img {
  height: 5.8rem;
  width: 12.4rem;
}

.academic__education--school > figure > figcaption {
  text-align: start;
}

@media (min-width: 768px) {
  .academic__education--school {
    flex-direction: row;
    gap: 2rem;
  }
}
